body{


    background-color: #Edddd0;

}

h1{
color: #002199;
}

main{
    display: inline;
}

header{
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #A6CAD4;
}

header ul{
    list-style-type: none;
    text-align: center;
    display: inline;

}
ul li{

    display:inline;
}

.heading-index{
    font-family: 'Montserrat', sans-serif
}

.copyright{
    text-align: center;
    background-color: #A6CAD4;
}

aside{
    text-align: right;
    padding:50px;
}

.course{
    display: grid;
    grid-template-columns: 2 1fr;
    grid-template-rows: 3 1fr;
    border-bottom: 1px solid black;
}

.date{
    grid-row: 1;
}