body{
background-color: #EDDDD0;
}

h1{
color: #002199;
}

span{
    display: block;
}

header{
    text-align: center;
    background-color: #A6CAD4;
}

.heading-index{
    font-family: 'Montserrat', sans-serif
}