body{

    background-color: #Edddd0;
    min-height: 100%;
}
html {
    height: 100%;
}

h1{
color: #002199;
}

main{
    display: inline;
}

header{
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #A6CAD4;
}

header ul{
    list-style-type: none;
    text-align: center;
    display: inline;

}
ul li{

    display:inline;
}

.heading-index{
    font-family: 'Montserrat', sans-serif
}

.copyright{
    text-align: center;
    background-color: #A6CAD4;
}

aside{
    text-align: right;
    padding:50px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.admin{
    grid-row: 1;
    grid-column: 1;
}

.date1{
    grid-row: 2;
    grid-column: 1;
    border-bottom: 1px solid black;
}

.web{
    grid-row: 3;
    grid-column: 1;
}

.date2{
    grid-row: 4;
    grid-column: 1;
    border-bottom: 1px solid black;
}

.data{
    grid-row: 5;
    grid-column: 1;
}

.date3{
    grid-row: 6;
    grid-column: 1;
    border-bottom: 1px solid black;
}

.admintxt{
    grid-row: 2;
    grid-column: 2;
    border-bottom: 1px solid black;
}

.webtxt{
    grid-row: 4;
    grid-column: 2;
    border-bottom: 1px solid black;
}

.datatxt{
    grid-row: 6;
    grid-column: 2;
    border-bottom: 1px solid black;
}